/*!
Off-Canvas Mobile Navigation with CSS3 animation
Author: Tim Holt
Author URI: http://astronautweb.co/

*/
body {
  font-family: sans-serif;
  background: #f9f9f9;
  color: #34495e;
  font-size: 14px;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 1em;
}
p:first-letter {
  font-size: 1.4em;
  color: #16a085;
  font-weight: bold;
  padding-right: 1px;
}

header {
  background: #16a085;
}
header h1 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 1em 0;
}

.inner-wrapper {
  overflow-x: hidden;
}
.inner-wrapper.nav-open p {
  color: #b5d1e9;
}

.nav-open .inner-wrapper {
  overflow: hidden;
}

[role="main"] {
  padding: 1em;
}

.nav-bg {
  background: #2c3e50;
}

nav ul {
  font-size: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  list-style: none;
}
nav li a {
  color: white;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 13px;
}
nav li a:hover {
  background: #34495e;
}
nav li a:visited {
  color: white;
}

#nav-toggle {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .wrapper {
    position: relative;
  }

  .nav-bg {
    background: #273646;
    width: 240px;
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: -240px;
  }

  .nav-open .nav-bg {
    overflow-y: auto;
  }

  #nav-toggle {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2221%22%20height%3D%2224%22%20viewBox%3D%220%200%2021%2024%22%3E%0A%09%3Cpath%20d%3D%22M20.571%2018v1.714q0%200.348-0.254%200.603t-0.603%200.254h-18.857q-0.348%200-0.603-0.254t-0.254-0.603v-1.714q0-0.348%200.254-0.603t0.603-0.254h18.857q0.348%200%200.603%200.254t0.254%200.603zM20.571%2011.143v1.714q0%200.348-0.254%200.603t-0.603%200.254h-18.857q-0.348%200-0.603-0.254t-0.254-0.603v-1.714q0-0.348%200.254-0.603t0.603-0.254h18.857q0.348%200%200.603%200.254t0.254%200.603zM20.571%204.286v1.714q0%200.348-0.254%200.603t-0.603%200.254h-18.857q-0.348%200-0.603-0.254t-0.254-0.603v-1.714q0-0.348%200.254-0.603t0.603-0.254h18.857q0.348%200%200.603%200.254t0.254%200.603z%22%20fill%3D%22%23ffffff%22%20/%3E%0A%3C/svg%3E%0A");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999em;
    border: none;
    outline: none;
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
  }

  .no-svg #nav-toggle {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAYAAAAVibZIAAAAeElEQVQ4jeXUoRGDYBBE4SsnBUSkgEgKiECmiDjKQCAoA4GgjIgICon4ELRw/5zgzazduZs3sxHXBj3mpIy4Bf5ymSK5EOZwnr0n5YdXtdJq8MGWlAWPZvablA7y3l/xrFZajXNZ9qR80TWz32T63vJGesK9WmkxB8ZGxb+28pBAAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
  }

  nav ul {
    text-align: left;
  }
  nav li {
    display: block;
  }
  nav li a {
    color: white;
    background: #2c3e50;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
    border-top: 1px solid #34495e;
    border-bottom: 1px solid #273646;
  }
  nav li a:hover {
    background: #34495e;
  }
  nav li:first-child a {
    border-top: none;
  }

  @-webkit-keyframes slideOpen {
    from {
      -webkit-transform: translateX(0);
    }

    to {
      -webkit-transform: translateX(240px);
    }
}

  @-moz-keyframes slideOpen {
    from {
      -moz-transform: translateX(0);
    }

    to {
      -moz-transform: translateX(240px);
    }
}

  @-o-keyframes slideOpen {
    from {
      -o-transform: translateX(0);
    }

    to {
      -o-transform: translateX(240px);
    }
}

  @keyframes slideOpen {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(240px);
    }
}

  @-webkit-keyframes slideClosed {
    from {
      -webkit-transform: translateX(240px);
    }

    to {
      -webkit-transform: translateX(0);
    }
}

  @-moz-keyframes slideClosed {
    from {
      -moz-transform: translateX(240px);
    }

    to {
      -moz-transform: translateX(0);
    }
}

  @-o-keyframes slideClosed {
    from {
      -o-transform: translateX(240px);
    }

    to {
      -o-transform: translateX(0);
    }
}

  @keyframes slideClosed {
    from {
      transform: translateX(240px);
    }

    to {
      transform: translateX(0);
    }
}

  .nav-open .wrapper {
    -webkit-animation-name: slideOpen;
    -moz-animation-name: slideOpen;
    animation-name: slideOpen;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .wrapper {
    -webkit-animation-name: slideClosed;
    -moz-animation-name: slideClosed;
    animation-name: slideClosed;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .loading .wrapper {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  .overlay {
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
  }

  .nav-open .overlay {
    display: block;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 0 \0) {
  .nav-open .nav-bg {
    left: 0;
  }

  .wrapper,
  .nav-open .wrapper {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  .nav-open .wrapper {
    -webkit-transform: translateX(240px);
    -moz-transform: translateX(240px);
    -ms-transform: translateX(240px);
    -o-transform: translateX(240px);
    transform: translateX(240px);
  }

  .wrapper {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
