/*
Off-Canvas Mobile Navigation with CSS3 animation
Author: Tim Holt
Author URI: http://astronautweb.co/

*/
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
article, aside, figure, footer, header, nav, section, details, summary, main {
  display: block;
}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  font-family: sans-serif;
  background: #f9f9f9;
  color: #34495e;
  font-size: 14px;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 1em;
}
p:first-letter {
  font-size: 1.4em;
  color: #16a085;
  font-weight: bold;
  padding-right: 1px;
}

header {
  background: #16a085;
}
header h1 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 1em 0;
}

.inner-wrapper {
  position: relative;
  overflow-x: hidden;
}
.inner-wrapper.nav-open p {
  color: #b5d1e9;
}

.nav-open .inner-wrapper {
  overflow: hidden;
}

[role="main"] {
  padding: 1em;
}

.nav-bg {
  background: #2c3e50;
}

nav ul {
  font-size: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  list-style: none;
}
nav li a {
  color: white;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 13px;
}
nav li a:hover {
  background: #34495e;
}
nav li a:visited {
  color: white;
}

#nav-toggle {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .nav-bg {
    background: #273646;
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -240px;
  }

  .nav-open .nav-bg {
    overflow-y: auto;
  }

  #nav-toggle {
    background: url("https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-48.png");
    background-size: 24px 24px;
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999em;
    border: none;
    outline: none;
    position: absolute;
    top: 16px;
    left: 10px;
    cursor: pointer;
  }

  nav ul {
    margin: 0;
    font-size: 0;
    text-align: left;
  }
  nav li {
    display: block;
    position: relative;
    list-style: none;
  }
  nav li a {
    color: white;
    background: #2c3e50;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
    border-top: 1px solid #34495e;
    border-bottom: 1px solid #273646;
  }
  nav li a:hover {
    background: #34495e;
  }
  nav li:first-child a {
    border-top: none;
  }

  @-webkit-keyframes slideOpen {
    from {
      -webkit-transform: translateX(0);
    }

    to {
      -webkit-transform: translateX(240px);
    }
}

  @-moz-keyframes slideOpen {
    from {
      -moz-transform: translateX(0);
    }

    to {
      -moz-transform: translateX(240px);
    }
}

  @-o-keyframes slideOpen {
    from {
      -o-transform: translateX(0);
    }

    to {
      -o-transform: translateX(240px);
    }
}

  @keyframes slideOpen {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(240px);
    }
}

  @-webkit-keyframes slideClosed {
    from {
      -webkit-transform: translateX(240px);
    }

    to {
      -webkit-transform: translateX(0);
    }
}

  @-moz-keyframes slideClosed {
    from {
      -moz-transform: translateX(240px);
    }

    to {
      -moz-transform: translateX(0);
    }
}

  @-o-keyframes slideClosed {
    from {
      -o-transform: translateX(240px);
    }

    to {
      -o-transform: translateX(0);
    }
}

  @keyframes slideClosed {
    from {
      transform: translateX(240px);
    }

    to {
      transform: translateX(0);
    }
}

  .nav-open .wrapper {
    -webkit-animation-name: slideOpen;
    -moz-animation-name: slideOpen;
    animation-name: slideOpen;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .wrapper {
    -webkit-animation-name: slideClosed;
    -moz-animation-name: slideClosed;
    animation-name: slideClosed;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .loading .wrapper {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}
