/*
Off-Canvas Mobile Navigation with CSS3 animation
Author: Tim Holt
Author URI: http://astronautweb.co/

*/
body {
  font-family: sans-serif;
  background: #f9f9f9;
  color: #34495e;
  font-size: 14px;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 1em;
}
p:first-letter {
  font-size: 1.4em;
  color: #16a085;
  font-weight: bold;
  padding-right: 1px;
}

header {
  background: #16a085;
}
header h1 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 1em 0;
}

.inner-wrapper {
  position: relative;
  overflow-x: hidden;
}
.inner-wrapper.nav-open p {
  color: #b5d1e9;
}

.nav-open .inner-wrapper {
  overflow: hidden;
}

[role="main"] {
  padding: 1em;
}

.nav-bg {
  background: #2c3e50;
}

nav ul {
  font-size: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  list-style: none;
}
nav li a {
  color: white;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 13px;
}
nav li a:hover {
  background: #34495e;
}
nav li a:visited {
  color: white;
}

#nav-toggle {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .nav-bg {
    background: #273646;
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -240px;
  }

  .nav-open .nav-bg {
    overflow-y: auto;
  }

  #nav-toggle {
    background: url("https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-48.png");
    background-size: 24px 24px;
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999em;
    border: none;
    outline: none;
    position: absolute;
    top: 16px;
    left: 10px;
    cursor: pointer;
  }

  nav ul {
    text-align: left;
  }
  nav li {
    display: block;
  }
  nav li a {
    color: white;
    background: #2c3e50;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
    border-top: 1px solid #34495e;
    border-bottom: 1px solid #273646;
  }
  nav li a:hover {
    background: #34495e;
  }
  nav li:first-child a {
    border-top: none;
  }

  @-webkit-keyframes slideOpen {
    from {
      -webkit-transform: translateX(0);
    }

    to {
      -webkit-transform: translateX(240px);
    }
}

  @-moz-keyframes slideOpen {
    from {
      -moz-transform: translateX(0);
    }

    to {
      -moz-transform: translateX(240px);
    }
}

  @-o-keyframes slideOpen {
    from {
      -o-transform: translateX(0);
    }

    to {
      -o-transform: translateX(240px);
    }
}

  @keyframes slideOpen {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(240px);
    }
}

  @-webkit-keyframes slideClosed {
    from {
      -webkit-transform: translateX(240px);
    }

    to {
      -webkit-transform: translateX(0);
    }
}

  @-moz-keyframes slideClosed {
    from {
      -moz-transform: translateX(240px);
    }

    to {
      -moz-transform: translateX(0);
    }
}

  @-o-keyframes slideClosed {
    from {
      -o-transform: translateX(240px);
    }

    to {
      -o-transform: translateX(0);
    }
}

  @keyframes slideClosed {
    from {
      transform: translateX(240px);
    }

    to {
      transform: translateX(0);
    }
}

  .nav-open .wrapper {
    -webkit-animation-name: slideOpen;
    -moz-animation-name: slideOpen;
    animation-name: slideOpen;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .wrapper {
    -webkit-animation-name: slideClosed;
    -moz-animation-name: slideClosed;
    animation-name: slideClosed;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .loading .wrapper {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}
