@media only screen and (max-width : 1023px) {

	$navWidth: 240px;

	$darkerGrey: darken($darkGrey, 3%);


	.nav-bg {
		background: $darkerGrey;
		width: $navWidth;
		height: 100%;
		position: fixed;
		top: 0;
		left: -$navWidth;
	}

	.nav-open .nav-bg {
		overflow-y: auto;
	}

	#nav-toggle {
		background: url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-48.png');
		background-size: 24px 24px;
		display: block;
		width: 24px;
		height: 24px;
		text-indent: -9999em;
		border: none;
		outline: none;
		position: absolute;
		top: 16px;
		left: 10px;
		cursor: pointer;
	}

	nav {

		ul {
			text-align: left;
		}

		li {
			display: block;

			a {
				color: white;
				background: $darkGrey;
				display: block;
				font-size: 16px;
				text-transform: uppercase;
				text-decoration: none;
				padding: 10px 13px;
				border-top: 1px solid $grey;
				border-bottom: 1px solid darken($darkGrey, 3%);
			}

			a:hover {
				background: $grey;
			}
		}

	    li:first-child a {
			border-top: none;
	    }	
	}

	@include keyframes(slideOpen) {
		from {
			@include transform(translateX(0));
		}
		to {
			@include transform(translateX($navWidth));
		}
	}

	@include keyframes(slideClosed) {
		from {
			@include transform(translateX($navWidth));
		}
		to {
			@include transform(translateX(0));
		}
	}

	.nav-open .wrapper {
		@include animation-name(slideOpen);
		@include animation-duration(.3s);
		@include animation-timing-function(ease-out);
		@include animation-fill-mode(forwards);
		@include prefixer(backface-visibility, hidden, webkit moz spec);
	}

	.wrapper {
		@include animation-name(slideClosed);
		@include animation-duration(.2s);
		@include animation-timing-function(ease-in);
		@include animation-fill-mode(forwards);
		@include prefixer(backface-visibility, hidden, webkit moz o spec);
	}

	.loading .wrapper {
		@include animation(none);
	}

} // end media query